.wrapper {
    --search-high: 46px;
    --search-top: 9px;
    --header-color-default-grey: rgba(22, 24, 35, 0.06);
    --header-color-default-black: rgba(0, 0, 0, 1);

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}

.search {
    position: relative;
    width: 361px;
    height: 46px;
    background-color: #f1f1f2;
    padding: 0 0 0 16px;
    border-radius: 92px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: rgb(22, 24, 35);
        font-size: 16px;
        border-color: transparent;
        height: 100%;
        background-color: transparent;
        outline: none;
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        top: var(--search-top);
        right: 52px;
        height: calc(var(--search-high) - (var(--search-top) * 2));
        background-color: black;
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--header-color-default-grey);
    border-color: transparent;
    outline: none;
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    border-color: transparent;
    outline: none;
    background-color: transparent;
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.06);
    &:hover {
        cursor: pointer;
        color: var(--header-color-default-grey);
    }
}

.action {
    width: 270px;
    height: 46px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.upload {
    width: 110px;
    height: 36px;
    border: 1px solid var(--header-color-default-black);
    justify-content: center;
    padding: 0 16px;
}
.upload-btn {
    height: 100%;
    border-color: transparent;
    outline: none;
    background-color: transparent;
}
.upload-span {
}
.messenger {
    font-size: 26px;
}

.notification {
    position: relative;
    font-size: 21px;
}
.notification_mes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.notification_ping {
    position: absolute;
    right: -28px;
    transform: translateY(-95%);
    color: red;
}

.profile_user {
    width: 32px;
    height: 32px;
    background-color: #cfd2d3;
    border-radius: 92px;
    color: #f3f3f3;
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 27px;
}
.profile_icon {
    font-size: 25px;
}
